<div class="form-group" (mouseover)="tooltip = true" (mouseout)="tooltip = false">
	<div class="jtooltip" *ngIf="formSubmitted && tooltip && control.invalid">
		<p>{{ error }}</p>
	<div class="jarrow"></div></div>
	<label *ngIf="label">{{ label }}</label>
	<select class="form-control" [ngClass]="{'is-invalid': control.invalid && formSubmitted }" [formControl]="control" (ngModelChange)="selectOption($event)">
		<option *ngFor="let option of options" [value]="option.value">{{ option.text }}</option>
	</select>
</div>

<!-- <div class="form-group" (mouseover)="tooltip = true" (mouseout)="tooltip = false">
	<div class="jtooltip" *ngIf="formSubmitted && tooltip && ">
		<p *ngIf="documentForm.get('documentType').errors?.noSelectedOption">Seleccione un tipo de documento</p>
	<div class="jarrow"></div></div>
	<select class="form-control" formControlName="control" [ngClass]="{'is-invalid': documentFormSubmitted && documentForm.get('documentType').invalid}">
		<option value="0">Tipo de Documento...</option>
		<option value="CC">Cédula de Ciudadanía</option>
		<option value="CE">Cédula de Extranjería</option>
		<option value="PA">Pasaporte</option>
		<option value="RC">Registro Civil</option>
		<option value="TI">Tarjeta de Identidad</option>
		<option value="AS">Adulto sin Identificación</option>
		<option value="MS">Menor sin Identificación</option>
		<option value="NU">Número Único de Identificación</option>
	</select>
</div> -->