<div class="form-group" (mouseover)="tooltip = true" (mouseout)="tooltip = false">
	<div class="jtooltip" *ngIf="formSubmitted && tooltip && control.invalid">
		<p>{{ error }}</p>
	<div class="jarrow"></div></div>
	<label *ngIf="label">{{ label }}</label>
	<select class="form-control" [ngClass]="{'is-invalid': control.invalid && formSubmitted }" [formControl]="control" (ngModelChange)="selectOption($event)">
		<option *ngFor="let option of options" [value]="option.value">{{ option.text }}</option>
	</select>
</div>